<header class = "navBar">
    <img class ="logoOfNav" src = "/picture/logo2.png" alt = "logo">
    <nav class="navbar navbar-dark bg-dark"> <!--navbar dark means dark colors and bg dark means highlighting text by grey -->
        <ul class= "lineOfNav">
            <li><a class="navbarItems" href = "/home">Home</a></li>
            <li><a class="navbarItems" href = "/home#mainWord" >About Us</a></li>
            <li><a class="navbarItems" href = "/home#foot">Contact</a></li>
            <li><a class="navbarItems" href = "/universities">Universities</a></li>
        </ul>
    </nav>
    <a class = "signbtn" href = "/registration"><button class="signbtn1">Sign in</button></a>
</header>