@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
  background-color: #3c373e;
  font-weight: 300;
    
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300; }

   

a {
    -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

  a, a:hover {
    text-decoration: none !important; }
    
.content {
    padding: 7rem 0; }
    h2 {
        font-size: 20px;
        color: #fff; }
        .custom-table {
            min-width: 900px; }
            .custom-table thead tr, .custom-table thead th {
              padding-bottom: 30px;
              border-top: none;
              border-bottom: none !important;
              color: #fff;
              font-size: 11px;
              text-transform: uppercase;
              letter-spacing: .2rem; }
            .custom-table tbody th, .custom-table tbody td {
              color: #777;
              font-weight: 400;
              padding-bottom: 20px;
              padding-top: 20px;
              font-weight: 300;
              border: none;
              -webkit-transition: .3s all ease;
              -o-transition: .3s all ease;
              transition: .3s all ease; }
              .custom-table tbody th small, .custom-table tbody td small {
                color: rgba(255, 255, 255, 0.3);
                font-weight: 300; }
              .custom-table tbody th a, .custom-table tbody td a {
                color: rgba(255, 255, 255, 0.3); }
              .custom-table tbody th .more, .custom-table tbody td .more {
                color: rgba(255, 255, 255, 0.3);
                font-size: 11px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: .2rem; }
            .custom-table tbody tr {
              -webkit-transition: .3s all ease;
              -o-transition: .3s all ease;
              transition: .3s all ease; }
              .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
                color: #fff; }
                .custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
                  color: #fdd114; }
                .custom-table tbody tr:hover td .more, .custom-table tbody tr:focus td .more {
                  color: #fdd114; }
            .custom-table .td-box-wrap {
              padding: 0; }
            .custom-table .box {
              background: #fff;
              border-radius: 4px;
              margin-top: 15px;
              margin-bottom: 15px; }
              .custom-table .box td, .custom-table .box th {
                border: none !important; }
          

table{
    width: 80%;
    margin: 0;
    border-collapse: collapse;
    border-radius: 10px;
    
}
tr{
    width:10%;
}
td{
    width: 10%;
    margin-left: 20px;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
}

.sort{
    width: 600px;
    color: white;
    margin: 20px auto;
}

.sort a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s ease;
}

.sort a:hover{
    color: #ffde59;
}



#add:hover{
    background-color: #fff;
}

.change{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    background-color: #4a4b4b;
    color: #fff;
    border: 2px solid #4a4b4b;
    transition: 0.3s ease;
    padding: 5px 10px;
}

.change:hover{
    cursor: pointer;
    color: #4a4b4b;
    background-color: #fff;
}

.delete{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    background-color: #ffde59;
    color: #fff;
    border: 2px solid #ffde59;
    padding: 5px 10px;
    transition: 0.3s ease;
}
.delete:hover{
    cursor: pointer;
    color: #ffde59;
    background-color: #fff;
}

form{
    font-family: 'Roboto Slab', serif;
}

input{
    font-family: 'Roboto Slab', serif;
    border-radius: 5px;
    border:0;
    padding: 4px;

}
.admin{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.admin img{
    margin-left: 20px;
    width: 60px;
}